.filter {
    font-weight: bold;
    color: black;
    font-size: large;
}

#container {
    margin-top: 30px;
    margin-bottom: 5px;
    color: black;
    font-weight: bold;
    font-size: x-large;
}