<head>
  <title> Angular Basics </title>
</head>

<!-- <hello></hello> -->
<!-- <p>From Template URL (app.component.html)</p> -->

<!-- <br> <br> -->

<!-- <emp-details></emp-details> -->
<!-- <emps-details></emps-details> -->

<!-- <br> <br> -->

<!-- <selector-use></selector-use> -->
<!-- <div class="selector-use-class"></div> -->
<!-- <div selector-use-attribute></div> -->

<!-- <local-image></local-image> -->

<nav>
    <ul>
        <li>
            <a routerLink="/home" routerLinkActive="active">
                Home
            </a>
        </li>

        <li>
            <a routerLink="/emp_details" routerLinkActive="active">
                Employee Component
            </a>
        </li>

        <li>
            <a routerLink="/emps_details" routerLinkActive="active">
                Employees Component
            </a>
        </li>

        <li>
            <a routerLink="/hello" routerLinkActive="active">
                Greetings!
            </a>
        </li>

        <li>
            <a routerLink="/local_image" routerLinkActive="active">
                Local Image
            </a>
        </li>

        <li>
            <a routerLink="/selector_use" routerLinkActive="active">
                Selector Uses
            </a>
        </li>

        <li>
            <a routerLink="/nested" routerLinkActive="active">
                Nesting
            </a>
        </li>

        <li>
            <a routerLink="/nested_casestudy" routerLinkActive="active">
                Nesting (Case Study)
            </a>
        </li>

        <li>
            <a routerLink="/routing_casestudy" routerLinkActive="active">
                Routing (Case Study)
            </a>
        </li>

        <li>
            <a routerLink="/form" routerLinkActive="active">
                Form
            </a>
        </li>
    </ul>
</nav>

<router-outlet></router-outlet>