ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li span {
  text-align: center;
  width: 100px;
  display: inline-block;
  cursor: pointer;
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
}

li span:hover {
  background-color: lightgray
}